/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --blue: #62fcf7;
  --brown: #7e3838;
  --red: #fa4605;
  --yellow: #edb905;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
}

h2 {
  text-transform: uppercase;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.overtitle-section {
  color: #777;
  font-size: 15px;
  position: relative;
  top: 20px;
  text-transform: uppercase;
}

.overtitle-section-secondary {
  color: var(--yellow);
  font-size: 15px;
  position: relative;
  top: 20px;
  text-transform: uppercase;
}

/* ==========================================================================
   HERO
   ========================================================================== */
#hero-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/paragliding-lanzarote-2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  transition: transform 0.2s;
  /* Animationn */
}

#hero-container header li a {
  color: #fff;
}

#nav-mobile {
  display: none;
}

#logo-container {
  position: relative;
  bottom: 10px;
}

#logo-container img {
  height: 100px;
}

#burger-icon {
  position: relative;
  right: 40px;
  top: 10px;
}

#burger-icon div {
  height: 2px;
  background-color: #fff;
  width: 35px;
  margin-bottom: 5px;
}

#closing-menu-icon {
  display: none;
  font-size: 32px;
  color: #fff;
  position: relative;
  bottom: 10px;
  right: 120px;
}

#nav-mobile {
  background-color: #fff;
  width: 110vw;
  /* height: 700px; */
  z-index: 99;
  position: relative;
  right: 35px;
  bottom: 20px;
}

#nav-desktop {
  display: none;
}

#nav-mobile ul li {
  margin-bottom: 7px;
}

#nav-mobile ul li:first-child {
  padding-top: 20px;
}

#nav-mobile ul li:last-child {
  padding-bottom: 20px;
}

#nav-mobile ul li a {
  font-weight: 500;
  font-size: 15px;
  color: #222;
  padding: 10px 20px;
  display: block;
  border-bottom: 2px solid #fafafa;
  width: 80vw;
}

#hero-text {
  z-index: 2;
  position: relative;
  bottom: 80vh;
  text-align: center;
  color: #fff;
}

#next-adventure {
  position: relative;
  top: 36vh;
}

#hero-text h1 {
  font-size: 42px;
  line-height: 52px;
}

#overtitle-hero {
  position: relative;
  top: 30px;
  font-size: 18px;
}

#hero-text p {
  font-weight: 500;
}

#lavafly {
  color: var(--blue);
}

#hero-text a {
  background-color: var(--yellow);
  padding: 15px 45px;
  text-decoration: none;
  color: #222;
  border-radius: 4px;
  position: relative;
  top: 38vh;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: padding 0.1s;
}

#hero-text a:hover {
  padding: 18px 48px;
}

#book-now {
  text-transform: uppercase;
}

@media (min-width: 968px) {
  #nav-desktop {
    display: block;
  }

  #nav-mobile {
    display: none !important;
  }

  #hero-container {
    padding: 20px 4vw;
  }

  #burger-icon div {
    display: none;
  }

  #nav-mobile {
    display: flex;
  }

  #logo-container img {
    height: 120px;
  }

  #nav-desktop ul {
    display: flex;
    position: relative;
    left: 80px;
    top: 10px;
  }

  #nav-desktop ul li {
    margin-right: 20px;
    font-size: 12px !important;
  }

  #nav-desktop ul li a:hover {
    border-bottom: 2px solid var(--blue);
    padding-bottom: 5px;
  }

  #nav-desktop ul li a {
    font-weight: 500;
    font-size: 15px;
  }

  #overtitle-hero {
    font-size: 20px !important;
  }

  #hero-text h1 {
    font-size: 62px;
  }

  #hero-text p {
    font-size: 18px;
    font-weight: 400;
  }

  #my-header {
    width: 100vw;
    display: flex;
  }

  .flag-language {
    margin: 5px;
  }

  .flag-desktop-container img {
    margin: 0 5px;
  }
}

/* ==========================================================================
   ABOUT
   ========================================================================== */
#about {
  position: relative;
  bottom: 100px;
  margin: 0 15px;
}

#about-left img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 2px 20px 3px hsla(0, 0%, 72.2%, 0.5);
}

#about-right {
  margin-top: 20px;
}

#about-right span {
  margin-top: 20px;
}

#about-right p {
  color: #777;
}

.divider {
  height: 3px;
  width: 120px;
  background-color: #f7f7f7;
  position: relative;
  bottom: 5px;
  margin-bottom: 20px;
}

@media (min-width: 1100px) {
  #about {
    display: flex;
    justify-content: space-evenly;
    bottom: 120px;
  }

  #about-left,
  #about-right {
    width: 45%;
  }
}

/* ==========================================================================
   PILOTS
   ========================================================================== */
#pilots {
  margin: 0 15px;
}

#pilots h2 {
  color: var(--blue);
}

#pilots img {
  width: 90vw;
  margin: 0 auto;
  box-shadow: 0px 2px 20px 3px hsla(0, 0%, 72.2%, 0.5);
}

#pilots h3 {
  font-size: 20px;
  text-align: center;
}

#pilots p {
  font-size: 15px;
  color: #444 !important;
  position: relative;
  bottom: 10px;
}

#pilots span {
  font-size: 15px;
  display: block;
  margin-bottom: 40px;
  color: #777;
}

#pilots a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 40px;
}

@media (min-width: 968px) {
  #pilots-img-container {
    display: flex;
    justify-content: space-between;
  }

  #pilots-img-container div {
    width: 22vw;
  }

  #pilots img {
    width: 22vw;
    display: inline-block;
    margin: 0 5px;
  }

  #pilots {
    margin: 0 4vw;
    position: relative;
    bottom: 80px;
  }

  #pilots a {
    position: relative;
    bottom: 20px;
  }
}

/* ==========================================================================
   TANDEM FLIGHTS
   ========================================================================== */
#tandem-flights {
  background-color: var(--brown);
  border-bottom: 2px solid #fff;
}

#tandem-flights-left {
  background-size: cover;
  position: relative;
  top: 20px;
  background-position: center;
}

#tandem-flights h2 {
  color: var(--blue);
}

#tandem-flights p {
  color: #f7f7f7;
}

#tandem-flights ul li {
  color: #fff;
  font-size: 15px;
}

#tandem-flights-right {
  padding: 20px 15px 60px;
}

@media (min-width: 1200px) {
  #tandem-flights {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 490px;
  }

  #flights-second-container {
    display: flex;
    justify-content: space-around;
  }

  #tandem-flights-left {
    width: 32vw;
    position: relative;
    top: 42px;
  }

  #tandem-flights-left iframe {
    height: 360px;
  }

  #tandem-flights-right {
    width: 64vw;
  }

  #tandem-flights-right {
    padding: 18px 18px 60px;
  }

  #tandem-flights-right p {
    width: 100%;
  }
  #tandem-flights-right h2 {
    margin-bottom: 0 !important;
  }
}

/* ==========================================================================
   SPECIALS
   ========================================================================== */

#specials-section {
  background-color: var(--brown);
  position: relative;
  bottom: 40px;
  padding: 0 15px;
}

#specials-section ul {
  padding-left: 0;
  margin: 0;
}

#specials-section h4 {
  color: var(--blue);
}

#specials-section ul li,
#specials-section p {
  color: #fff;
  margin-bottom: 0;
}

#flight-areas {
  padding-top: 20px;
}

#flight-areas ol {
  padding-left: 16px;
}

#specials {
  padding-bottom: 40px;
}

#flight-areas ol li {
  color: #fff;
}

#more-info {
  background-color: var(--brown);
  color: #fff;
  text-align: center;
  padding: 10px 0 40px;
  position: relative;
  bottom: 80px;
}

#more-info a {
  color: #fff;
  text-decoration: none;
}

#flight-prices li {
  margin-bottom: 10px;
}

#flight-center-ul {
  padding-top: 15px;
}

#flight-center-ul li:first-child {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#micro-sd {
  color: var(--yellow) !important;
  width: 350px;
}

.top-bottom-space {
  margin: 20px 0 !important;
}

#special-column {
  width: 100% !important;
}

#special-column li:first-child {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#special-group-ul,
#special-column ul,
#special-column ul li,
#flight-center-ul li {
  margin: 0;
}

#special-column .special-gift {
  color: var(--blue);
  display: block;
}

.move-right-1 {
  display: inline-block;
  position: relative;
  left: 11px;
}

.move-right-2 {
  display: inline-block;
  position: relative;
  left: 8px;
}

.move-right-3 {
  display: inline-block;
  position: relative;
  left: 6px;
}

.price-list {
  width: 40%;
}

/* .top-height {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.marginLeft {
  margin-left: 6px;
}

.marginLeft10 {
  margin-left: 7px;
}

.price-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 968px) and (max-width: 1320px) {
  .price-list,
  #flight-center-ul li:first-child,
  #special-column li:first-child {
    width: 80%;
  }
}

@media (min-width: 968px) {
  #specials-section {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
    border-top: 1px solid #fff;
  }

  #flight-areas {
    padding-top: 0px;
  }

  #specials-section div {
    width: 30%;
  }
}

@media only screen and (max-width: 968px) {
  .price-list,
  #flight-center-ul li:first-child,
  #special-column li:first-child {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 600px) {
  .price-list,
  #flight-center-ul li:first-child,
  #special-column li:first-child {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .price-list,
  #flight-center-ul li:first-child,
  #special-column li:first-child {
    width: 80%;
  }
}

/* ==========================================================================
   GIFT CARD
   ========================================================================== */
#gift-card {
  background-color: var(--brown);
  position: relative;
  padding: 20px 15px 80px;
  border-bottom: 1px solid #fff;
}

#gift-card h3 {
  color: var(--blue);
}

#gift-card p {
  color: #fff;
}

/* #gift-card a {
    text-decoration: none;
    background-color: var(--yellow);
    color: #222;
    padding: 10px 35px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: padding 0.1s;
  } */
#gift-card a {
  text-decoration: none;
  background-color: var(--yellow);
  color: #222;
  padding: 10px 35px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: padding 0.1s;
}

#gift-card a:hover {
  padding: 12px 38px;
}

#gift-card-right img {
  width: 100%;
  margin-top: 40px;
}

@media (min-width: 968px) {
  #gift-card {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 15vw 10px;
    height: auto;
  }

  #gift-card-left {
    width: 60%;
    padding-right: 5px;
  }

  #gift-card a {
    position: relative;
    top: 40px;
  }

  #gift-card-center img {
    max-width: 100%;
    position: relative;
    top: 50px;
  }

  #gift-card-right {
    position: relative;
    bottom: 40px;
    left: 60px;
    width: 100%;
  }

  #contact-gift {
    position: relative;
    left: 5vw;
  }
}

/* ==========================================================================
   GALLERY
   ========================================================================== */
.gallery {
  position: relative;
  bottom: 80px;
}

.gallery-item {
  padding: 3px;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .gallery {
    display: flex;
  }
}

/* ==========================================================================
   FAQ
   ========================================================================== */

#faq {
  margin: 40px 15px 60px;
}

summary {
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}

details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.faq__content p {
  color: #777;
  font-size: 15px;
  position: relative;
  bottom: 20px;
}

@media (min-width: 968px) {
  #faq {
    margin: 60px 20vw 60px;
  }
}

/* ==========================================================================
   VIDEO HOME
   ========================================================================== */
#video-home {
  width: 100%;
  margin: 60px auto 120px;
}

#video-home iframe {
  margin-bottom: 20px;
  width: 100%;
  height: 350px;
}

@media (min-width: 968px) {
  #video-home {
    margin: 60px 0px 60px 23px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  #video-home iframe {
    margin-bottom: 20px;
    width: 33%;
    height: 360px;
  }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
#contact {
  background-color: var(--brown);
}

#logo-footer {
  background-color: var(--brown);
  width: 120px;
  display: block;
  margin: 0 auto;
  padding: 40px 0 0;
}

#contact-footer {
  margin-top: 20px;
  text-align: center;
}

#contact-footer img {
  width: 24px;
}

#contact-footer h2 {
  color: var(--blue);
}

#contact-footer p {
  color: #fff;
  position: relative;
  bottom: 10px;
}

#contact-footer a {
  color: #fff;
  margin: 0 auto;
  position: relative;
  left: 5px;
  text-decoration: none;
}

.cta a:hover {
  color: #fafafa;
}

#social-icons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 60px;
}

#social-icons img {
  display: inline-block;
  margin: 0 5px;
}

.cta {
  margin-top: 40px;
}

.cta h4 {
  color: #fff;
}

@media (min-width: 968px) {
  #contact {
    margin: 120px 0vw 0px;
    border-radius: 8px;
    box-shadow: 0px 2px 20px 3px rgba(255, 199, 199, 0.8);
  }

  #contact-footer p {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  #social-icons {
    padding-bottom: 80px;
  }

  #cta-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
    position: relative;
    bottom: 20px;
  }
}

#whatsapp-footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Google Review */
#google-reviews-wrapper {
  width: 75%;
  margin: auto;
}
#google-reviews-wrapper a {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  width: 250px;
  border-radius: 10px;
  margin: auto;
  background-color: #337ab7;
  padding: 12px;
  color: #fff;
}
#google-reviews-wrapper a:hover {
  background-color: #589fdd;
}
.google-imgBox {
  margin: auto;
  display: block;
  width: 220px;
}
.google-imgBox img {
  width: 100%;
  height: 100%;
}
#google-reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0 30px;
}
span.review-profile-image {
  float: left;
  padding: 0px 15px 0px 0px;
}

span.review-profile-image img {
  width: 65px;
}

.modal-backdrop.in {
  display: none;
}

.review-item {
  border: 1px solid #d6dae4;
  margin: 10px;
  display: block;
  width: 31%;
  background-color: #efefef;
  padding: 20px;
  border-radius: 12px;
  box-sizing: border-box;
}
.review-text {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-item:hover {
  box-shadow: 2px 0px 10px 1px rgb(0 0 0 / 15%);
  cursor: pointer;
}

.review-meta,
.review-stars {
  text-align: left;
}

.review-author {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.review-date {
  opacity: 0.7;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.review-text {
  color: #444;
  padding-top: 10px;
  font-size: 15px;
  text-align: justify;
  margin: auto;
}

.review-stars ul {
  display: inline-block;
  list-style: none !important;
  margin: 0;
  margin-left: -3px;
  padding: 0;
}

.review-stars ul li {
  float: left;
  list-style: none !important;
  margin-right: -3px;
  line-height: 1;
}

.review-stars ul li i {
  color: #f6bb06;
  font-size: 27px;
  font-style: normal;
}

.review-stars ul li i.inactive {
  color: #c6c6c6;
}

.star:after {
  content: "\2605";
}
.darlo-card a {
  bottom: unset !important;
  text-decoration: underline !important;
  color: #444444b5 !important;
  margin-bottom: 0 !important;
  display: inline !important;
}
.darlo-card .darlo-card-description {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.accordian {
  padding: 10px 20px !important;
  background-color: #7e3838;
  color: #fff;
  cursor: pointer;
  padding: 2px 15px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  border: 0.1px solid #ccc;
  border-radius: 5px;
  margin-top: 2px !important;
}

.panel {
  background-color: white;
  /* margin-bottom: 10px; */
  /* margin-bottom: 8px; */
}

.panel p {
  top: -17px !important;
  left: 2px !important;
  padding: 10px 18px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  background-color: #e5bdbd;
  color: black;
  margin: 0;
  z-index: 1;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
/* partner */

.partner-main {
  max-width: 100%;
  position: unset;
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.partner-banner {
  background-image: url("../img/partner-banner.jpg");
  background-size: cover;
  background-position: 100% 61%;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 40px 100px;
  box-sizing: border-box;
}
.partner-banner-details {
  max-width: 650px;
}
.partner-banner-details h5 {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin: 0 !important;
}
.partner-container {
  padding: 40px 55px 20px 55px;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  margin: auto;
}
.partner-container .slick-dots {
  left: 0;
}
.partner-container .slick-dots li button:before {
  font-size: 11px !important;
}
.partner-container .slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 32px !important;
  line-height: 1;
  opacity: .75 !important;
  color: #010101 !important;
}
.partner-banner-details .partner-subtitle {
  margin: 0 !important;
}
.partner-banner-details p,
.partner-subtitle {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}
.partner-logo-container {
  padding: 10px 20px;
}
.partner-logo-content {
  /* width: 60%; */
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding:0 20px; */
}
.partner-link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.partner-logo {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  height: 180px;
  justify-content: center;
}
.partner-logo img {
  max-width: 100%;
  height: auto !important;
  object-fit: contain;
}
.partner-logo-content .title {
  color: #141414;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}
.partner-logo-content .desc {
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
}
.content-equal-height {
  min-height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.our-partners h2 {
  text-align: center;
  font-size: 32px;
}
.our-partners .divider {
  margin: auto;
}
.our-partners .partner-text {
  color: #444444 !important;
}
.partner-image img {
  max-width: 350px;
}
.partner-text a,
.partner-link {
  background: #edb905;
  padding: 10px 18px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.partner-text p {
  line-height: 24px;
}
@media only screen and (max-width: 1240px) {
  .review-item {
    width: 47%;
  }
  span.review-profile-image img {
    width: 60px;
  }
  .review-author {
    font-size: 15px;
  }
  .review-stars ul li i {
    font-size: 24px;
  }
  .partner-container {
    max-width: 100%;
  }
  .content-equal-height {
    min-height: 220px;
  }
  .partner-container .slick-next{right: 30px !important;}
  .partner-container .slick-prev {left: 20px !important;}
  .partner-container .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 33px !important;
  }
  .partner-banner {
    padding: 40px 60px;
  }
}
@media only screen and (max-width: 968px) {
  #google-reviews-wrapper {
    padding-bottom: 50px;
  }
  .partner-banner {
    padding: 30px;
  }
  #google-reviews-wrapper {
    width: 80%;
  }
  .accordian {
    width: unset;
  }
}

@media only screen and (max-width: 881px) {
  .review-item {
    margin: 10px;
    width: 46%;
  }
  .google-imgBox {
    width: 180px;
  }
}
@media only screen and (max-width: 768px) {
  .partner-container .slick-next{right: 22px !important;}
  .partner-container .slick-prev {left: 15px !important;}
  .partner-container .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 26px !important;
  }
  .partner-container {
    padding: 40px 35px 10px 30px;
  }
  .partner-banner-details,
  .partner-logo-content {
    max-width: 100%;
    width: 100%;
  }
  .partner-logo-container,
  .partner-logo-content {
    flex-direction: column;
  }
  .content-equal-height {
    min-height: unset;
  }
  .partner-banner-details p, .partner-subtitle {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  #google-reviews-wrapper {
    width: 90%;
  }
  .review-item {
    width: 100%;
    margin: 10px 0;
  }
  #google-reviews {
    margin-top: 25px;
  }

  .panel p {
    width: unset;
    left: 0px !important;
  }
  /* .partner-item {
    flex-wrap: wrap;
  } */
  .partner-image img {
    max-width: 100%;
  }
  .partner-banner {
    height: unset;
    padding: 30px;
  }
  .partner-link-wrap {
    margin-top: 15px;
  }
  .partner-logo-container{
    padding: 10px 25px !important;
  }
  .partner-logo-content {
    padding: 0 !important;
  }
  .partner-logo {
    width: 300px;
    max-width: 300px;
    margin-right: 0px;
    min-width: 300px;
  }
  .partner-logo-content .desc , .partner-logo-content .title {
    text-align: center;
    font-size: 14px;
  }
  .partner-logo {
    height: 130px;
  }
}
